# ===== Terraform =====
**/.terraform/**
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Atenção: geralmente NÃO se comita tfvars (pode conter segredo)
*.tfvars
!terraform/envs/**/terraform.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# Terraform providers (evitar binários no repo)
**/terraform-provider-*.exe

# ===== Terragrunt (se usar no futuro) =====
.terragrunt-cache/

# ===== Kubernetes =====
*.kubeconfig

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# ===== Logs =====
*.log

# ===== Secrets =====
.env
.env.*
secrets*.yaml
